<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY APP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img class="img-river" src="images/river" alt="river">
    <div class="todoBody"> 
        <h1>  TO DOS </h1>

     <form action="/mission" method="POST">
        <input type="text" placeholder="State Mission" name="mission">
        <button type="submit">Create</button>
     </form>
   
   

     <ul class="missions">
        <!-- loop through quotes-->
        <% for(let i = 0; i < missions.length; i++) {%>
            <li class="mission cursor-btn">
                <!-- Output name from the iterated todo object -->
                <% if(missions[i].completed === true) {%>
                <span class="completed"><%=missions[i].mission%></span>
                <% }else { %>
                <span><%=missions[i].mission%></span>
                <%}%>
                <!--i class="fas fa-pen"></i-->
                <i class="fas fa-trash"></i>

            </li>  
        <% } %>
        
     </ul>

    </div>
    
    <div>
        <h6>
            <span><%= left %>Items left</span>
            <span><%= all %>All</span>
            <span><%= left %>Active</span>
            <span><%= done %>Completed</span>
            
        </h6>
    </div>
    
    

    
    <script src="/main.js"></script>
</body>
</html>